.page-container{
    margin: 0 auto;
    width: 1400px;
    padding: 20px;
}

.background-image{
    background-image: url('Resources/Images/darkened-image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
}



.header{
    font-family: monospace;
    font-size: 30px;
    border-width: 2px;
    border-color: #550000;
    border-style: solid;
    background-color: #550000;
    border-radius: 20px;
    color: white;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
}

.navcontent{
    display: flex;
    list-style-type: none;
    gap: 120px;
    padding-top: 30px;
}

.navbar ul li a{
    padding: 20px;
    font-family: monospace;
    font-size: 23px;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: #F6D82C;
    background-color: #F6D82C;
    border-radius: 20px;
    color: black;
}

#main-content{
    padding-bottom: 1000px;
}

.footer{
    display: flex;
    color: white;
    justify-content: space-between;
    opacity: 50%;
}

.footer-content{
    display: flex;
    flex-direction: column;
}

.privacy{
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.terms{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 50px;
    padding-right: 30px;
}